.App {
  text-align: center;
  align-content: inherit;
  display: grid;
  height: 100vh;
  width: 100%;
  padding: 1%;
  overflow: hidden;
}


#form {
  width: 60%;
  margin: auto auto;
  text-align: left;
  background-color: rgb(251, 251, 251);
}

#form > * {
  margin: 10%;
}



#card {
  text-align: left;
  width: 60%;
  margin: auto;
}

#card image{
  border-radius: 20px;
}

.card {
  width: 100%;
  margin: 2% auto;
  background-color: rgb(251, 251, 251);
  text-align: left;
}

.card.card-body{
  width: 40%;
}



.feed{
  display: grid;
  grid-template-columns: auto;
  max-height: 85%;
  overflow: auto;
  /* background-color: black; */
}

#nav_container{
  padding: 2%;
  margin-bottom: 1%;
}

#title {
  margin: 5px;
  color: darkgreen
}

#switch_container{
  /* padding: 5%; */
  height: 100vh;
  width: 100%;
  overflow: hidden;
}




.navBtn {
  text-decoration: none;
  padding: 10px;
  border-radius: 25px;

}

a:visited, a.hover, a.link{
  text-decoration: none;
  color: green;
}
a:active{
  background-color: green;
}
a.active {
  color: green;
  border: 2px solid green;
}

a:link{
  text-decoration: none;
  color: green;
}

#birdFormButton{
  padding: 2px;
}

.error{
  color: red;
}

.btnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentCard{
  text-align: left;
  padding: 2%;
}

#commentForm{
  display: flex;
  flex-direction: row;
}

#commentCardContainer{
  max-height: 400px;
  overflow-y: auto;
}

#myStuffContainer{
  margin-top: 0px;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1%;
  padding: 1%;
}

.leftPanel{
  flex-basis: 15%;
  background-color: white;
  display:flex;
  flex-direction: column;
  gap: 1%;
}


.navItem {
  border-radius: 25px;
}

#profilePanel{
  height: 33%;
  background-color: rgb(240, 240, 240);
  text-align: center;
}

#profilePanel > * {
  margin: 5%;
}


.formGroup{
  text-align: left;
  border: 1px lightgray solid;
  padding: 10px;
  border-radius: 20px;
}

#addBirdForm, #newPost{
  padding: 5%;
}

.birdName{
  color: darkgreen;
}



#displayDiv{
  display: flex;
  flex-direction: row;
  padding: 2%;
}
#displayDiv img{
  height: auto;
  max-width: 25%;
}

#postFormContainer{
  padding: 4%;
}

.formGroup{
  text-align: left;
}


@media(max-width: 750px){
 
  .card{
    width: 100%;
  }
  .card.card-body{
    width: 100%;
  }
  
  #displayDiv{
    display: block;
    padding: 2%;

  }
  #displayDiv img{
    height: auto;
    max-width: 60%;
  }

  div#nav_container{
    padding: 2%;
    max-height: 110px;
    margin-bottom: 1%;
  }

}

#myBirdDiv{
  display: flex;
  flex-direction: row;
  gap: 1%;
  justify-content: space-evenly;

}

#select{
  display: flex;
  flex-direction: row;

}

#select > *{
  margin-right: 5%;
}


/* #bird{
  border: 1px grey solid;
  padding: 10px;
  border-radius: 25px;
} */

#myFeed{
  display: flex;
  flex-direction: row;
  gap: 2%;
  height: 88vh;
}

#sideBar{
  flex-basis: 25%;
  /* background-color: lightgrey; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
#sideBar > * {
  margin-bottom: 5%;
}

#myPosts{
  flex-basis: 75%;
  overflow-y: auto;

}
#postForm{
  height: 82vh;
  overflow-y: auto;
}

.date{
  color: darkgreen;
}

#textBox{
  padding: 2%;
  margin: 5% auto;
}

#infoBox{
  padding: 1%;
  text-align: left;
  background-color: lightgray;
}

.btnCtn{
  display: flex;
}

.fltrBtn{
  flex-basis: 80%;
  margin-right: 2px;
}